@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(233, 227, 227);
}
section{
    position: relative;
    width: 100%;
    padding: 50px;
}
.circle{
    position: relative;
    overflow: hidden;
}
.circle.c1{
    width: 500px;
    height: 500px;
    float: left;  
    border-radius: 50%;
    margin: 10px; 
    shape-outside: circle();
}
.circle.c2{
    width: 350px;
    height: 350px;
    float: right;
    border-radius: 50%;
    margin: 10px;
    shape-outside: circle();
}
.circle img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section h2{
    color: rgb(87, 7, 4);
    font-size: 2em;
    margin-bottom: 10px;
}
section p{
    color: rgb(19, 17, 44);
    text-align: justify;
}