@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(199, 191, 191);
}
section{
    position: relative;
    width: 100%;
    padding: 50px;
}
.circle{
    position: relative;
    overflow: hidden;
}
.circle.c1{
    width: 500px;
    height: 500px;
    float: left;  
    border-radius: 50%;
    margin: 20px; 
}